/* a minimalist set of CSS resets */

/* default to border-box */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/* adjust typography defaults */

body {
  text-align: center;
  font-family: helvetica, arial, sans-serif;
  margin: 2rem;
  color: black;
  
  background: linear-gradient(270deg, #f9957f, #f2f5d0);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
}

h1 {
  font-family: verdana, arial, sans-serif;
  font-weight: normal;
  font-size: 40px;
}

h2 {
  font-weight: normal;
  color: black;
  font-size: 16px;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
    text-decoration: underline;
}

#startScreen {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Adjusting Buttons */

button {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 25px;
}

#startBtn {
  background: white;
  padding: 10px 50px;
  border-radius: 10px;
  font-size: 20px;
}

#stopBtn {
  background: white;
  padding: 10px 50px;
  border-radius: 10px;
}

#startBtn:hover, #stopBtn:hover {
  background: black;
  color: white;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}

.hidden {
  display: none;
}

#button1 {
    background: #17c3b2;
}
#button2 {
    background: #ffcb77;
}
#button3 {
    background: #fef9ef;
}
#button4 {
    background: #fe6d73;
}
#button5 {
    background: #227c9d;
}

#button1:active, #button1.lit {
    background:green;
}
#button2:active, #button2.lit {
    background:yellow;
}
#button3:active, #button3.lit {
    background:grey;
}
#button4:active, #button4.lit {
    background:red;
}
#button5:active, #button5.lit {
    background:blue;
}


/* Animated Background */

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


/* Github Button */

.wrapper {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper .github:hover {
  color: #ffffff;
}